.payment-password-no-set-bg {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;

  .payment-password-no-set-main {
    position:fixed;
    bottom: 0px;
    left:0;
    right:0;
    background-color: #FFFFFF;
    height: 778px;
    .payment-password-no-set-title {
      box-sizing: border-box;
      height: 120px;
      text-align: center;
      font-size: 32px;
      line-height: 120px;
      position:relative;

      .payment-password-no-set-title-text{
        height: 120px;
        width: 130px;
        position:absolute;
        left:0px;
        top: 0px;
        font-size: 40px;
        color: #929292;
      }
    }
    .payment-password-no-set-contain {
      box-sizing: border-box;
      height: 520px;
      padding: 12px 0px;

      .payment-password-no-set-contain-firstset{
        box-sizing: border-box;
        background-color:#FCFCFC;
        font-size: 24px;
        color: #999999;
        line-height: 40px;
        padding-left:30px;
      }
      .payment-password-no-set-contain-type {
        box-sizing: border-box;
        border-top: 1px solid #EBEBEB;
        height: 90px;
        padding-top: 20px;
        .payment-password-no-set-contain-type-group {
          display: flex;
        }
        .weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before {
          // taro
          content: '\EA06';
          color: #0C82F1;
        }
        //
        .payment-password-no-set-contain-type-label-gray{
          font-size: 30px;
          flex:1;
          text-align: center;
          color: #929292;
        }
        .payment-password-no-set-contain-type-label-blue{
          font-size: 30px;
          flex:1;
          text-align: center;
          color: #0C82F1;
        }
        .payment-password-no-set-contain-type-radio {
          //
        }
      }
      .payment-password-no-set-contain-keyboard {
        box-sizing: border-box;
        border-top: 1px solid #EBEBEB;
        padding-right: 30px;
        .payment-password-no-set-contain-keyboard-view {
          box-sizing: border-box;
          display: flex;
          padding: 0px 30px;
          height: 96px;
          align-items: center;
          .payment-password-no-set-contain-keyboard-view-text {
            font-size: 28px;
            color: #929292;
            line-height: 40px;
            flex:1
          }
          .payment-password-no-set-contain-keyboard-view-iptbox{
            flex:3;
            .payment-password-no-set-contain-keyboard-view-ipt{
              font-size: 28px;
              text-align: right;
              line-height: 40px;
              margin-left: 30px;
            }
          }

        }
      }
      .payment-password-no-set-contain-code {
        border-top: 1px solid #EBEBEB;
        .payment-password-no-set-contain-code-view {
          box-sizing: border-box;
          display: flex;
          padding: 0px 30px;
          height: 96px;
          align-items: center;
          .payment-password-no-set-contain-code-view-text {
            font-size: 28px;
            color: #929292;
            line-height: 40px;
            flex:1;
          }
          .payment-password-no-set-contain-code-view-ipt{
            flex:4;
            font-size: 28px;
            text-align: right;
            line-height: 40px;
            margin: 0px 30px;
          }
          .payment-password-no-set-contain-code-view-btn {
            box-sizing: border-box;
            padding:0px 0px 0px 30px;
            border-left: 1px solid #0C82F1;
            font-size: 28px;
            color: #0C82F1;
            line-height: 40px;
            flex:1.6;
            text-align: center;
          }
        }
      }
      .payment-password-no-set-contain-safe {
        box-sizing: border-box;
        border-top: 1px solid #EBEBEB;
        padding-right: 30px;
        font-size: 24px;
        color: #5C5C5C;
        letter-spacing: 0;
        text-align: right;
        line-height: 80px;
        height: 80px;
      }
    }
    .payment-password-no-set-btn {
      height: 140px;
      overflow: hidden;
      .payment-password-no-set-btn-button {
        background-image: linear-gradient(-45deg, #0C82F1 0%, #5DB2FF 100%);
        border-radius: 10px;
        height: 90px;
        margin: 10px 30px;
        font-size: 32px;
        color: #FFFFFF;
        text-align: center;
        line-height: 90px;
      }
    }
  }
}
.ccsk-input {
  width: 100% !important;
}
.has-ccsk .payment-password-no-set-main  {
    bottom: 300px;
 }
