//普通版样式
.defaultWrap{
  #theFixedBox {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  .mb10 {
    margin-bottom: 10px;
  }
  .fs20{
    font-size:20px;
  }

}
// 关怀版样式
.careWrap {
  #theFixedBox {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  .fs20{
    font-size: 100px;
  }
}
.ccsk-input {
  width:100%!important;
 
}
