/* pages/auth/index.wxss */
#theFixedBox {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.auth-wrap{
    // margin-top: 42rpx;
    background: #fff;
    height: 100vh;
  }
  .register {
    width: 100%;
    .ds_register_bg {
      width: 100%;
      height: 295px;
    }
    .ds_register_bg image {
      width: 100%;
      height: 100%;
    }
    .locationText {
      width: 100%;
      height: 44px;
      margin-top: 87px;
      display: flex;
      align-items: center;
      justify-content: center;
      .locationText_left {
        width: 24px;
        height: 30px;
      }
      .locationText_middle {
        flex-shrink: 0;
        margin-left: 10px;
        font-size: 28px;
        color: #666666;
      }
      .locationText_right {
        width: 13px;
        height: 24px;
        margin-left: 10px;
      }
    }
    
    .loginBtn {
      width: 90%;
      margin-left: 5%;
      background-image: linear-gradient(-45deg, #0C82F1 0%, #5DB2FF 100%);
      border-radius: 10px;
      color: #fff;
      height: 90px;
      line-height: 90px;
      margin-top: 40px;
      padding: 0px;
      font-size: 32px;
    }
    .describe {
      margin-top: 16px;
      margin-left: 5%;
      font-size: 24px;
      color: #929292;
      letter-spacing: 0;
      line-height: 36px;
    }
    .otherPhNum {
      font-size: 32px;
      color: #0C82F1;
      letter-spacing: 0;
      text-align: center;
      line-height: 44px;
      margin-top: 40px;
    }
  }

  .agreement {
    display: flex;
    margin: 50px 69px;
    line-height: 40px;
    color: #333333;
    font-size: 28px;
    .agreementBD {
      width: 40px;
      height: 100%;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      .agreementBDTrue {
        width: 30px;
        height: 30px;
        display: block;
        flex-shrink: 0;
      }
      .agreementBDFalse {
        width: 28px;
        height: 28px;
        flex-shrink: 0;
        background-color: white;
        border: 1px solid #c9c9c9;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }

  .auth-radio{
    width:78px;
    height:40px;
    margin-right: 10px;
  }

  .footer {
    width: 100%;
    height: 387px;
    position: absolute;
    bottom: 0;
    left: 0;
    .footerBg {
      width: 100%;
      height: 100%;
    }
    .downLoadCode {
      width: 400px;
      color: #3F5A6B;
      position: absolute;
      top: 125px;
      left: 49px;
      font-size: 24px;
    }
    .ds_reg_code {
      position: absolute;
      top: 82px;
      right: 43px;
      width: 136px;
      height: 141px;
    }
    .ql_tip {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 75px;
      color: #FFFFFF;
      font-size: 28px;
    }
    .ql_tips {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 38px;
      color: #B4DBFF;
      font-size: 24px;
    }
  }
  .jd-checkbox-input.jd-checkbox-input-checked {
    border: 1px solid #0c82f1 !important;
  }

  button::after{ //百度小程序button边框
    border: none;
  }